.pane-title {
    font-weight: 600;
    margin-bottom: 0.125rem;
}

.pane-state {
    margin-bottom: 0.25rem;
}

.pane-option {
    color: color-mix(in srgb, currentColor 80%, transparent);
    font-size: calc(1em - 0.125rem);
    line-height: calc(1lh - 0.125rem);
}
