.tagbox-tag-template-close-btn-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.25rem;
    mask-image: url(images/icons/dismiss.svg);
    -webkit-mask-image: url("images/icons/dismiss.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #000000;
    mask-size: 100% 100%;
    cursor: pointer;
}
.dxbl-sm .tagbox-tag-template-close-btn-icon {
    height: 1rem;
    width: 1rem;
}
.dxbl-lg .tagbox-tag-template-close-btn-icon {
    height: 1.5rem;
    width: 1.5rem;
}
.tagbox-tag-template {
    display: flex;
    align-items: center;
    padding: 0.125em 0.375em;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #BBDBF1;
}
.tagbox-tag-template-NY {
    background-color: #D7C7F1;
}
.tagbox-tag-template-LA {
    background-color: #F5CEC4;
}
